.ant-layout-sider {
  position: relative;
}

.ant-menu-item-selected {
  background-color: #6a3fbf !important;
}

.ant-menu-item {
  margin: 0 !important;
}

.ant-menu-submenu-title {
  color: #fff !important;
}

.ant-menu-item,
.ant-menu-submenu-title {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
  background-color: #6a3fbf !important;
}
